@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}


/* HEADER (MENU) */

.logo{
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    white-space: nowrap;
    letter-spacing: 0.5px;
    pointer-events: none;
    user-select: none;
    text-transform: uppercase;
    text-shadow: 0 0 32px #82c3ff;
    color: var(--text-color);
}

.open-sidebar-button img,
.close-sidebar-button img{
    pointer-events: none;
    user-select: none;
}

label{
    user-select: none;
}

:root{
  --color-1: #06070d;
  --text-color: #e9ecff;
  --accent-color: #82c3ff;
  --color-2: #4da3ff;
}

/* ===== NAVBAR ===== */

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  height: 60px;
  background-color: #0b0f1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--accent-color);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

/* odkazy vpravo */
.links-container{
  display: flex;
  align-items: center;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 0px;
    position: relative;
}

.nav-menu li{
    height: 60px;
    width: 110px;
    flex-shrink: 0;
}

.nav-menu li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    user-select: none;
    position: relative;
    z-index: 2;
    transition: color .25s ease;
}

.nav-menu a:hover, .nav-menu a.active{
    color: var(--accent-color);
}

.nav-indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 60px;
    background: rgba(130,195,255,.12);
    border-bottom: 2px solid var(--accent-color);
    transform: translateX(calc(var(--pos) * 110px));
    transition: transform .35s cubic-bezier(.4,0,.2,1);
    z-index: 1;
}

#sidebar-active{
    display: none;
}

.close-sidebar-button{
  z-index: 1002;
}

.open-sidebar-button,
.close-sidebar-button{
  display: none;
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.nav-menu:has(a.active){
  --pos: 0;
}

.nav-menu:has(li:nth-child(1) a.active){ --pos: 0 }
.nav-menu:has(li:nth-child(2) a.active){ --pos: 1 }
.nav-menu:has(li:nth-child(3) a.active){ --pos: 2 }
.nav-menu:has(li:nth-child(4) a.active){ --pos: 3 }
.nav-menu:has(li:nth-child(5) a.active){ --pos: 4 }

.nav-menu:has(li:nth-child(1):hover){ --pos: 0 }
.nav-menu:has(li:nth-child(2):hover){ --pos: 1 }
.nav-menu:has(li:nth-child(3):hover){ --pos: 2 }
.nav-menu:has(li:nth-child(4):hover){ --pos: 3 }
.nav-menu:has(li:nth-child(5):hover){ --pos: 4 }


/***** SEPARATOR *****/
.section-separator{
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,
      #0059ff,
      #82c3ff,
      #0059ff
  );
  box-shadow: 0 0 12px rgba(130,195,255,.7);
}


/* ===== SCROLL ===== */
.scroll-down{
  margin-top: 3.5rem;           
  font-size: clamp(3rem, 8vw, 5.2rem);
  color: var(--accent-color);
  text-decoration: none;
  animation: scrollBounce 1.6s infinite;
  text-shadow: 0 0 10px rgba(130,195,255,.7);
  opacity: .85;
  margin-left: 2.5rem;
}

@keyframes scrollBounce{
  0%{
    transform: translate(-50%, 0);
    opacity: .4;
  }
  50%{
    transform: translate(-50%, 10px);
    opacity: 1;
  }
  100%{
    transform: translate(-50%, 0);
    opacity: .4;
  }
}


/***** MAIN *****/

/** WELCOME **/

.welcome{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    user-select: none;
    color: white;

    /* tohle je hlavní pozadí */
    background:
        radial-gradient(circle at center,
            rgba(0, 119, 255, 0.12),
            rgba(0, 0, 0, 1) 65%
        ),
        linear-gradient(180deg, #020409, #020610 60%, #000000);
}

.glass-card{
    top: 100px;
}

/* hlavní titulek */
.welcome h1{
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 2px;

    text-shadow:
    0 0 12px rgba(130,195,255,.8),
    0 0 28px rgba(77,163,255,.5),
    0 0 60px rgba(77,163,255,.25);

    margin-bottom: 1rem;
}

/* řádek pod nadpisem */
.divider{
    width: 120px;
    height: 2px;
    background: #4da3ff;
    margin: 1.5rem 0;
    box-shadow: 0 0 15px rgba(97, 145, 216, 0.7);
}

/* podtitul */
.subtitle{
    color: #4da3ff;
    letter-spacing: 3px;
    font-size: 0.9rem;
}

/* jemná animace záře */
.welcome h1:hover{
    text-shadow:
        0 0 20px rgba(130,195,255,.9),
        0 0 50px rgba(77,163,255,.6),
        0 0 90px rgba(77,163,255,.35);
    transition: .4s ease;
}

.welcome::before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:900px;
    height:900px;
    transform:translate(-50%,-50%);
    border-radius:50%;
    background:radial-gradient(circle, rgba(77,163,255,.35), transparent 70%);
    filter: blur(30px);
    animation: pulse 6s infinite ease-in-out;
}

@keyframes pulse{
    0%{transform:translate(-50%,-50%) scale(1);}
    50%{transform:translate(-50%,-50%) scale(1.15);}
    100%{transform:translate(-50%,-50%) scale(1);}
}

.particles{
    position:absolute;
    inset:0;

    background-image:
        radial-gradient(2px 2px at 15% 20%, rgba(255,255,255,.8), transparent),
        radial-gradient(2px 2px at 30% 70%, rgba(130,195,255,.9), transparent),
        radial-gradient(1.5px 1.5px at 75% 30%, rgba(255,255,255,.8), transparent),
        radial-gradient(1.5px 1.5px at 60% 85%, rgba(255,255,255,.9), transparent),
        radial-gradient(2px 2px at 85% 55%, rgba(130,195,255,.9), transparent),
        radial-gradient(1.2px 1.2px at 40% 40%, rgba(255,255,255,.7), transparent);

    animation: float 14s linear infinite,
               twinkle 2.5s ease-in-out infinite alternate;

    pointer-events:none;
    opacity:.9;
}

@keyframes float{
    0%{transform: translateY(0);}
    50%{transform: translateY(-18px);}
    100%{transform: translateY(0);}
}

@keyframes twinkle{
    from{opacity:.4;}
    to{opacity:1;}
}

/** About ME **/

.aboutme {
  width: 100%;
  padding: 120px 0;
  background: linear-gradient(180deg, #02040a, #040b18);
}

.aboutme-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 0 40px;
}

.aboutme-photo{
  flex:1;
  display:flex;
  justify-content:center;
}

.aboutme-photo img{
  width:420px;
  height:480px;
  object-fit:cover;
  border-radius:18px;
  box-shadow:0 0 40px rgba(130,195,255,.35);
}

.aboutme-text{
  flex: 1;
  color: white;
}

.aboutme-text h2{
  font-size: 3rem;
  margin-bottom: 20px;
  color:#d2ebf8;
  text-shadow:0 0 30px rgba(110, 232, 236, 0.5);
}

.aboutme-text p{
  font-size:1.1rem;
  line-height:1.8;
  margin-bottom:12px;
  color:#d7e3ff;
}

.aboutme-link{
  color:#82c3ff;
  text-decoration:none;
  font-weight:700;
  transition: .2s;
}

.aboutme-link:hover{
  text-decoration: underline;
  color:#b7dcff;
}

/** TRAVELING **/

.travel{
  width: 100%;
  padding: 120px 0;
  background: linear-gradient(180deg,#020611,#000000);
}

.travel-container{
  max-width:1500px;
  margin:auto;
  padding:0 40px;
  color:white;
}

.travel-title{
  font-size:2.7rem;
  margin-bottom:15px;
  color:#d2ebf8;
  text-shadow:0 0 30px rgba(110, 232, 236, 0.5);
}

.travel-text{
  max-width:900px;
  line-height:1.7;
  color:#d7e3ff;
  margin-bottom:30px;
  font-size: 1.1rem;
}

.travel-link{
  color:#82c3ff;
  font-weight:700;
  text-decoration:none;
}

.travel-link:hover{
  text-decoration: underline;
}

.travel-gallery{
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr;
  grid-template-rows: 260px 260px;
  gap:22px;
}

.travel-gallery img:first-child{
  grid-row:1 / 3;
  height:100%;
}

.travel-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(130,195,255,.25);
  transition: .3s ease;
}

.travel-gallery img:hover{
  transform:scale(1.04);
  box-shadow:0 0 40px rgba(130,195,255,.45);
}

.travel-more{
  margin-top: 20px;
  color:#d7e3ff;
}

.travel-more a{
  transition: .2s;
}

.travel-more a:hover{
  color:#b7dcff;
}

/** PROJECTS **/

.projects{
  width: 100%;
  padding: 120px 0;
  background: linear-gradient(180deg,#000814,#000);
}

.projects-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  color: white;
}

.projects-title{
  font-size: 2.7rem;
  margin-bottom: 35px;
  color: #d2ebf8;
  text-shadow: 0 0 30px rgba(130,195,255,.5);
}

.project-text{
  max-width:900px;
  line-height:1.7;
  color:#d7e3ff;
  margin-bottom:30px;
  font-size: 1.1rem;
}


.projects-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 35px;
}

/* card */
.project-card{
  background: rgba(5,15,30,.85);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 28px rgba(77,163,255,.25);
  border: 1px solid rgba(130,195,255,.25);
  transition: .3s ease;
}

.project-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 0 45px rgba(130,195,255,.45);
}

.project-thumb{
  width: 100%;
  height: 180px;
  border-radius: 18px 18px 0 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-portfolio{
  background-image: url("images/image-web-portfolio.png");
}

.img-roblox{
  background-image: url("images/roblox-minigame.png");
  background-position: right 40%;
}

.img-safepath{
  background-image: url("images/safepathbot.jpg");
  background-position:center 20%; 
}

.img-pc{
  background-image: url("images/build-pc.png");
}

/* bottom info */
.project-content{
  padding: 18px 22px 24px 22px;
}

.project-content h3{
  font-size: 1.3rem;
}

.project-content p{
  margin-top: 6px;
  color: #cfe3ff;
}

.projects-bottom-btn{
  text-align:center;
  margin-top:35px;
}

.btn-all-projects{
  display:inline-block;
  padding:10px 18px;
  border-radius:8px;
  text-decoration:none;
  background:#4da3ff;
  color:black;
  font-weight:700;
  box-shadow:0 0 25px rgba(77,163,255,.35);
  transition:.25s;
}

.btn-all-projects:hover{
  background:#82c3ff;
  box-shadow:0 0 40px rgba(130,195,255,.55);
}

/** CONTACT/FAQ **/

.faq{
  width: 100%;
  padding: 120px 17px 120px 17px; 
  background: linear-gradient(180deg,#000814,#000);
  color: #fff;
  text-align: center;
}

.faq-title{
  font-size: 2.6rem;
  margin-bottom: 40px;
  color: #d2ebf8;
  text-shadow: 0 0 30px rgba(130,195,255,.5);
  position: relative;
  display: inline-block;
}

.faq-title::after{
  content:"";
  display:block;
  width: min(320px, 80%);
  height: 2px;
  margin:10px auto 0 auto;
  border-radius:20px;
  background: linear-gradient(90deg, rgba(6, 68, 126, 0.8), #6ec9ff, rgba(4, 61, 114, 0.8));
  box-shadow:0 0 16px rgba(130,195,255,.8);
}

.faq-subtitle{
  color:#cfe3ff;
  margin-bottom: 25px;
  font-size: 1.05rem;
}

details{
  max-width: 900px;
  width: 100%;
  margin: 12px auto;
  background: rgba(5,15,30,.9);
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(77,163,255,.25);
  border: 1px solid rgba(130,195,255,.25);
  overflow: hidden;
  transition: .25s;
}

details[open]{
  box-shadow: 0 0 45px rgba(130,195,255,.45);
}

details summary{
  padding: 16px 22px;
  font-size: 1.2rem;
  cursor: pointer;
  list-style: none;
  text-align:left;
}

details summary::before{
  content: "▸";
  margin-right: 10px;
  display: inline-block;
  transform-origin: center;
  transition: transform .25s ease;
}

details[open] summary::before{
  transform: rotate(90deg);
}

details p{
  padding: 0px 17px 17px 51px;
  color: #d7e3ff;
  line-height: 1.6;
  text-align: left;
}

details p::before{
  content: "· ";
  color:#ffffff;
  font-size: 1.4rem;
  margin-right: 4px;
}


.faq-contact-btn{
  margin-top: 50px;
}

.btn-contact{
  display:inline-block;
  padding:10px 18px;
  border-radius:8px;
  background:#4da3ff;
  color:#000;
  font-weight:700;
  text-decoration:none;
  box-shadow:0 0 25px rgba(77,163,255,.35);
  transition:.25s;
}

.btn-contact:hover{
  background:#82c3ff;
  box-shadow:0 0 20px rgba(130,195,255,.55);
}

/***** FOOTER *****/
.footer-page {
  background: #0b0f1a;
  text-align: center;
  padding-bottom: 20px;
}

.social {
  text-align: center;
  margin: 10px 0px;
}

.social p  {
  display: inline;
  margin-right: 20px;
}

.social p a:link,
.social p a:visited {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

.social p a:hover,
.social p a:active {
  color: #fff;
}

.footer-text {
  text-align: center;
  margin: 10px 0px;
  color: white;
}

/* FORM */

.success-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, rgba(0,112,255,.45), #000000);
    padding-top: 0;
    color: white;
    text-align: center;
}

.success-card{
    background: rgba(5,15,30,.9);
    padding: 40px 50px;
    border-radius: 21px;
    box-shadow: 0 0 40px rgb(0, 241, 32);
    border: 1px solid rgba(2, 60, 252, 0.9);
}

.success-card h1{
    font-size: 2.6rem;
    margin-bottom: 15px;
    color: #82c3ff;
}

.success-card p{
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

/***** Stop floating *****/
.socials-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 25px 0; 
}
.socials-container a{
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 32px;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--recomend-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.socials-container a:hover{
  background-color: var(--recomend-color);
  fill: white;
}

.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--recomend-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}